
.sidebar {
    width: 20%;
}

.marg-16 {
    margin: 16px;
}

.no-marg-top {
    margin-top: 0;
}
.card-header {
    background-size: cover;
}

.fullsize {
    height: 100%;
}

.halfsize {
    height: 40%;
}

.objsize {
    height: 90%;
    width: 100%;
}