
.sidebar {
    width: 20%;
}

.padd-top-16 {
    padding-top: 16px;
}

.padd-bottom-16 {
    padding-bottom: 16px;
}

.card-header {
    background-size: cover;
}

.fullsize {
    height: 100%;
}

.card {
    position: fixed;
}