<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <button mat-button routerLink="/home">
    {{ title }}
  </button>
</mat-toolbar>
<div class="container fullsize col-12">
  <mat-drawer-container class="row fullsize">

    <mat-drawer mode="side" opened class="col-2">
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step>
          <ng-template matStepLabel>
            <button mat-button routerLink="/buttons" class="">Buttons</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>
            <button mat-button routerLink="{{ path }}" class="">Table</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>
            <button mat-button routerLink="/checkbox" class="">Checkbox</button>
          </ng-template>
        </mat-step>
      </mat-vertical-stepper>
    </mat-drawer>

    <mat-drawer-content class="fullsize col-10 padd-top-16">
      <div class="row fullsize">
        <div class="col-6">
          <router-outlet></router-outlet>
        </div>
        <div class="col-6 padd-bottom-16">
          <mat-card class="">
            <mat-tab-group class="">
              <mat-tab label="html" class="">
                <mat-card-content class="col-12">
                  <markdown [src]="'app/components/buttons/buttons.component.html'"></markdown>
                </mat-card-content>
              </mat-tab>
              <mat-tab label="ts" class="">
                <mat-card-content class="">
                  <markdown [src]="'app/components/buttons/buttons.component.ts'"></markdown>
                </mat-card-content>
              </mat-tab>
              <mat-tab label="css">
                <mat-card-content class="col-12">
                  <markdown [src]="'app/components/buttons/buttons.component.scss'"></markdown>
                </mat-card-content>
              </mat-tab>
            </mat-tab-group>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <markdown class="col-12" [src]="'assets/README.md'"></markdown>
      </div>


    </mat-drawer-content>

  </mat-drawer-container>
</div>
