
.sidebar {
    width: 20%;
}

.card-size {
    margin: 16px;
}
.card-header {
    background-size: cover;
}

.fullsize {
    height: 100%;
    width: 100%;
}

.halfsize {
    height: 40%;
    width: 94%;
}

.objsize {
    height: 90%;
    width: 100%;  
}